#search-history {
  display: none;
}

@media screen and (max-width: 1135px) {
  main {
    flex-direction: column-reverse;
    height: auto;
    align-items: center;
  }

  #search-section {
    width: 50%;
    margin-top: 0;
  }

  #weather-section {
    width: 90%;
  }

  .forecast-container-shown {
    margin: 1rem 0;
  }
}

@media screen and (max-width: 920px) {
  #forecast-items-section {
    flex-direction: column;
  }

  .forecast-item {
    margin: auto 0 1rem 0;
  }
}