* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.wrap {
    background-image: linear-gradient(to left,#030346,#314ac4);
    color: #fff;
}

header {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

header h1 {
    font-size: 30px;
}


.topnav {
        height: 100%;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 0;
}



.cities {
    background: #bdbaba;
    color: black;
    font-weight: bold;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 22%
}

.cities:hover{
    background: 222;
    color: #fff;
}



